[submodule "external/teleop_twist_keyboard"]
	path = external/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard.git
[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/micro_ros_setup"]
	path = external/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup
[submodule "src/micro_ros_raspberrypi_pico_sdk"]
	path = src/micro_ros_raspberrypi_pico_sdk
	url = https://github.com/micro-ROS/micro_ros_raspberrypi_pico_sdk.git
